@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #283646;
}

.container {
    width: 1250px;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    height: 90%;
    width: 90%;
    display: flex;
}

.contato {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 10px;
}

.servicos {
    flex-grow: 1;
    height: 100%;
    padding: 0 10px;
}

.compania {
    flex-grow: 1;
    height: 100%;
    padding: 0 10px;
}

.social {
    flex-grow: 1;
    height: 100%;
    padding: 0 50px;
}

.newsletter {
    flex-grow: 3;
    height: 100%;
    padding: 0 10px;
}

.contato i {
    color: #3A86FF;
}

.contato-logo-area {
    color: #3A86FF;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.contato-location, .contato-email, .contato-telefone > p{
    color: #CFD3D7;
    font-size: 14px;
}

.contato-location {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.contato-email {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contato-telefone {
    display: flex;
    align-items: center;
    gap: 10px;
}

.titulo-area {
    color: #3A86FF;
    font-weight: bold;
    margin-bottom: 25px;
}

.lista{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #CFD3D7;
    cursor: pointer;
    font-size: 14px;
}

.newsletter-input-area > p{
    color: #CFD3D7;
    font-size: 14px;
}

.newsletter-input-area > input{
    background-color: #4F5A68;
    color: #77808B;
    border: none;
    padding: 10px 0;
    padding-left: 5px;
    margin-top: 5px;
    outline: none;
    width: 80%;
}

.newsletter-input-area > button {
    font-size: 14px;
    margin-top: 10px;
    background-color: #3A86FF;
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
}